* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: aliceblue;
    text-align: center;
    padding: 10px 0px;
}

.jogo {
    background-color: #f5f1f1;
    margin: 60px auto;
    width: 606px;
    border: solid 3px rgb(22, 189, 189);
}

.items {
    border-bottom: solid 2px rgb(22, 189, 189);
    height: 200px;
}

.items {
    font-size: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.quadrado {
    float: left;
    width: 200px;
    height: 100%;
    border-right: solid 2px rgb(46, 75, 75);
    cursor: pointer;
}

.escolha {
    text-align: center;
}

.escolha h2 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.simbolo {
    background-color: rgb(22, 189, 189);
    padding: 15px 30px;
    border-radius: 10px;
    margin: 0px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 32px;
}

.vez-de-jogar {
    font-size: 32px;
    margin-top: 40px;
    text-align: center;
}

.placar {
    display: none;
    justify-content: center;
    font-size: 26px;
    border: 3px solid rgb(226, 223, 223);
    max-width: 500px;
    margin: 60px auto;
    color: #fff;
    margin-bottom: 40px;
    padding: 15px;
    align-items: center;
    background-color: rgb(22, 189, 189);
}

.placar p {
    margin: 0px 20px;
}

#vitoria-usuario, #vitoria-computador {
    font-weight: bold;
    font-style: 3rem;
}