/* GERAL */

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: aliceblue;
    text-align: center;
    padding: 20px 0px;
}

/* JOGO */

.jogo {
    margin: 60px auto;
    max-width: 606px;
    padding: 0px 20px;
}

.items {
    font-size: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 200px;
}

.items:nth-child(1), .items:nth-child(2) {
    border-bottom: solid 2px rgb(22, 189, 189);
}

.quadrado {
    float: left;
    width: 200px;
    height: 100%;
    cursor: pointer;
    background-color: #f8f6f6;
}

.quadrado:nth-child(1), .quadrado:nth-child(2) {
    border-right: solid 2px rgb(22, 189, 189);
}

/* ESCOLHA DO SIMBOLO */

.escolha {
    text-align: center;
}

.escolha h2 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.simbolo {
    background-color: rgb(22, 189, 189);
    padding: 10px 25px;
    border-radius: 10px;
    margin: 0px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 32px;
}

/* VEZ DO JOGADOR */

.vez-de-jogar {
    font-size: 24px;
    margin-top: 40px;
    text-align: center;
}

/* PLACAR */

.placar {
    display: none;
    justify-content: center;
    font-size: 26px;
    border: 1px solid rgb(226, 223, 223);
    max-width: 600px;
    margin: 60px auto;
    color: #fff;
    margin-bottom: 40px;
    padding: 5px;
    align-items: center;
    background-color: rgb(22, 189, 189);
    border-radius: 10px;
    border: none;
}

.placar p {
    margin: 0px 20px;
}

#vitoria-jogador-um, #vitoria-jogador-dois {
    font-size: 3rem;
    font-weight: bold;
}

/* CAMPO DE QUEM GANHOU */

.vitorioso {
    background-color: rgb(178, 215, 248);
    max-width: 300px;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
    display: none;
}

/* MOBILE */

@media (max-width: 530px) {
    .jogador-dois, .jogador-um {
        font-size: 1rem;
    }

    #vitoria-jogador-um, #vitoria-jogador-dois {
        font-size: 2rem;
    }

    .items {
        font-size: 140px;
        height: 150px;
    }

    .placar p {
        margin: 0px 10px;
    }

}

@media (max-width: 415px) {
    .jogador-dois, .jogador-um {
        font-size: 14px;
    }

    #vitoria-jogador-um, #vitoria-jogador-dois {
        font-size: 2rem;
    }

    .items {
        font-size: 100px;
        height: 120px;
    }

}